*{
  margin: 0;
  padding: 0;
}

.html{
  width: 100vw;
  height: 100vh;
}

body{
  padding: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url("src/assets/genetyka.jpg");
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
